{% block sw_cms_element_openstreetmap %}
    <div class="sw-cms-el-openstreetmap">
        <img class="sw-cms-el-preview-openstreetmap-img"
            src="/bundles/seidemanncmsblocks/administration/img/preview_openstreetmap.png">
    </div>
{% endblock %}